.App {
  text-align: center;
}
.newStudent{
  text-align: center;
}
.studentdetails{
  text-align: center;
}
.studentlist{
  text-align: center;
}
.Table,th,td{
  border: 1px solid #ddd;
  width: 50%;
  margin:auto;
  border-collapse: collapse;
  padding: 8px
}
.trow:hover:hover{
  background-color: rgb(158, 168, 173);
}

